html {
    background: url(background-etch.jpg) no-repeat center center fixed;
    background-size: cover;
}

.grid-main-container {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid black;
}

.grid-item {
    border: 1px solid black;
    background-color: white;
}

.etch-title {
    text-align: center;
    margin-top: 5%;
    color: #e622c7;
    font-family: 'Lobster', cursive;
    font-size: 46px;
    text-shadow: 1px 0 white;
}

.dimension-btn {
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    text-align: center;
}

#dim-btn {
    background-color: violet;
    color: white;
    font-size: 24px;
    border-radius: 10%;
}